<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XPlaneLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <XPlaneLauncher.Properties.Settings>
            <setting name="XPlaneRootPath" serializeAs="String">
                <value>C:\Temp\xplanelauncher</value>
            </setting>
            <setting name="PositionFilesPath" serializeAs="String">
                <value>X:\Bernd\X-Plane\Logs</value>
            </setting>
            <setting name="SituationFilesPath" serializeAs="String">
                <value>C:\Temp\xplanelauncher\sitfiles</value>
            </setting>
            <setting name="ThumbnailEnding" serializeAs="String">
                <value>_icon11.png</value>
            </setting>
            <setting name="XPlaneExecutableFile" serializeAs="String">
                <value>X-Plane.exe</value>
            </setting>
        </XPlaneLauncher.Properties.Settings>
    </applicationSettings>
</configuration>